.menu-button {
  color: white;
  transition: color 0.5s;
  background: none;
  outline: none;
  border: none;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 15px;
  /* margin-left: auto; */

  &:hover {
    color: #18d26e;
  }
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}
